body{
    background-color: blanchedalmond;
}

.yoo{
    padding: 20px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    transition: 0.3s;
    color: black;
    display: block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}